
.admin{
    &__reported__container{
        flex-direction: column;
        align-items: center;

        &.show{
            display: flex;
        }
        &.hide{
            display: none;
        }
    }
}