
.field{
    display: flex;
    align-items: flex-start;

    &__input{
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 180px;
        position: relative;

        @media screen and (min-width: map-get($breakpoints, "tablette")){
            width: 250px
        }

        
        & svg {
            position: absolute;
            font-size: 1.5em;
            cursor: pointer;
            top: 4px;
            right: 3px;
        }
        

    }

    &__error{
        color: $error_color;
        font-size: 0.8rem;
    }

    & label{
        width: 100px;
        padding: 3px 0;
    }

}