
.loading__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.loading{

    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid;
    border-right-color: $primary-color_darken;
    border-bottom-color: $primary-color_darken;
    border-left-color: $primary-color_darken;
    margin: auto;
    animation: turn 1s 0s linear infinite;

    &.small{
        width: 20px;
        height: 20px;
    }

}