
nav{
    /*margin-right: 20px;*/

    & .btn__no-style{
        display: inline-block;
        width: 150px;
        text-align: center;
        font-size: 1.2rem;

        &:hover{
            font-weight: bold;
        }
    }
}