
.main__container{
    display: flex;
    width: 100%;
    margin-bottom: 30px;


    &__section{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        max-width: 100%;

        @media screen and (min-width: map-get($breakpoints, "tablette")){
            margin-left: 190px;
        }
        
    }

    
}


.no-comment, .no-media{
    text-align: center;
}