
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

//font-family: 'Nunito Sans', sans-serif;


@import url('https://fonts.googleapis.com/css2? family= Lato & display=swap');

//famille de polices : 'Lato', sans-serif;


@import url('https://fonts.googleapis.com/css2?family=Yantramanav&display=swap');

//font-family: 'Yantramanav', sans-serif;


$primary_title_font : 'Nunito Sans', sans-serif;

$secondary_title_font : 'Lato', sans-serif;

$text_font : 'Yantramanav', sans-serif;
