
@use "sass:color";



$text_color : #333;
$primary_color : #FFD7D7;
$primary_color_darken : color.adjust($primary-color, $lightness: -55%, $saturation: -15%);
$error_color : rgb(241, 45, 45);


//  BREAKPOINTS
//@media screen and (min-width: map-get($breakpoints, "mobile-landscape"))
$breakpoints : (
    mobile-landscape : 576px,
    tablette : 768px,
    desktop : 992px,
    desktop-wide : 1440px,
);